@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

:root {
  --border:2px solid #D4D4D4;
  font-family: 'Ubuntu', sans-serif;
}

#root{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: 1fr 10fr;
  height: 100vh;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

form{
  display: flex;
  flex-direction: column;
  padding: 3rem 2rem;
}

input,
textarea{
  padding: .2rem;
  margin-bottom: .75rem;
}

label{
  font-weight: bold;
  font-size: .75rem;
}