.cv{
    background-color: var(--gray);
}

.paper{
    background-color: white;
    width: 450px;
    height: 570px;
    margin: 1.5rem auto;
    padding: 2rem;
}

.header{
    display: flex;
    height: 70px;
}

.name{
    font-size: 2rem;
}

.last{
    font-weight: bold;
}

.info{
    width: 180px;
    height: 100px;
    font-size: .75rem;
    background-color: var(--gray);
    margin-top: -2rem;
    margin-left: auto;
    padding: 1rem;
    padding-top: 2.5rem;
}

.education,
.profession{
    height: 70px;
    margin: 2rem 0;
    display: flex;
}

.education div,
.profession div{
    margin-left: 125px;
}

.profession{
    height: 100px;
}
