:root {
  --theme-color: #7e8724;
}
.cv {
  background-color: var(--gray);
}

a{
  color: var(--theme-color);
}
.paper {
  background-color: white;
  width: 450px;
  min-height: 570px;
  margin: 1.5rem auto;
  padding: 2rem;
  font-size: 0.5rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.personal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}

.odd {
  padding-left: 1rem;
  color: black;
  font-weight: lighter;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.name {
  font-size: 1.5rem;
  display: flex;
  text-align: center;
}

.last {
  padding-left: 0.25rem;
}

.info {
  display: flex;
  gap: 0.5rem;
}

.theme {
  color: var(--theme-color);
}

.flex {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

.bold {
  color: black;
  font-size: x-small;
  font-weight: bold;
}

.stack {
  margin-top: 0.5rem;
}

.thin {
  font-weight: lighter;
}
.head {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: x-small;
}

.head > * {
  flex: 1;
}

hr {
  border-color: var(--gray);
  border-top: 1px;
  border-left: 0;
}

.flex-col {
  display: flex;
  flex-direction: column;
}
